:root{
  --primary-color: #f3f4f4;
  --secondary-color: #e8d284;
  --tertiary-color: #2a4f61;
}
*{
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.services{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.products{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.signup{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
