:root{
    --primary-color: #f3f4f4;
    --secondary-color: #e8d284;
    --tertiary-color: #2a4f61;
}
.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-primary{
    /* background-color: var(--primary-color);
    color: var(--secondary-color); */
    /* border: 1px solid yellow; */
}

.btn-primary{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 8px 20px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease-out;
}

 .btn-primary:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    transition: all 0.3s ease-out;
} 
.btn-medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn-large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn-medium:hover, .btn-large:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transition: all 0.3s ease-out;
}