:root{
    --primary-color: #f3f4f4;
    --secondary-color: #e8d284;
    --tertiary-color: #2a4f61;
  }
 
 .footer-container{
    background-color: var(--tertiary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .footer-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;  
 }
 .footer-sub-heading {
     font-size: 24px;
     margin-bottom: 24pxq;
 }
 .foter-sub-text{
    margin-bottom: 24px;
    font-size: 20px;
 }
 .footer-input{
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    width: 100%;

    /* border: 1px solid var(--secondary-color); */
 }
 /* .footer-email input{
    width: 100%;
 } */
 .footer-links{
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
 }
 .footer-links-wrapper{
    display: flex;
 }

 .footer-links-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
 }
 .footer-links-items h2{
    margin-bottom: 16px;
    color: var(--primary-color);
 }
 .footer-links-items a{
    margin-bottom: 8px;
    color: var(--primary-color);
    text-decoration: none;
 }

 .footer-links-items a:hover{
    margin-bottom: 8px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.3s  ease-out;
 }
 .footer-email h2{
    margin-bottom: 32px;
 }
 .footer-input::placeholder{
    color: var(--secondary-color);
 }
 .social-logo{
    font-size: 24px;
    text-decoration: none;
    color: var(--primary-color);
 }
.social-media{
    max-width: 1000px;
    width: 100%;
}
 .social-media-wrapper{
display: flex;
justify-content: space-between;
max-width: 1000px;
width: 100%;
margin: 40px auto 0 auto;
align-items: center;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.social-icons-links{
    color: var(--primary-color);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
}
.footer-rights{
    color: var(--primary-color);
    margin-bottom: 16px;
}

@media  screen and (max-width: 820px) {
    .footer-links{
        padding-top: 2rem;
    }
    .footer-input{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    .footer-links-wrapper{
        flex-direction: column;
    }
    .social-media-wrapper{
        flex-direction: column;
    }
    
}